/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: "";
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #000;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Projects Css ************/
.contact {
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

.img-card {
  object-fit: cover;
}

.text-none:hover {
  color: white;
}

.text-width {
  min-width: 500px;
}

.logo {
  width: 70px;
  height: 80px;
  padding: 15px;
}

.header-img {
  margin-top: 20px;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.99em;
  --top-offset: 11.55vh;
  --fall-duration: 8.166s;
  --fall-delay: 7.614s;
}
.star:nth-child(2) {
  --star-tail-length: 5.59em;
  --top-offset: 23.45vh;
  --fall-duration: 11.74s;
  --fall-delay: 7.35s;
}
.star:nth-child(3) {
  --star-tail-length: 5em;
  --top-offset: 48.83vh;
  --fall-duration: 10.549s;
  --fall-delay: 6.833s;
}
.star:nth-child(4) {
  --star-tail-length: 5.09em;
  --top-offset: 11.58vh;
  --fall-duration: 8.816s;
  --fall-delay: 3.948s;
}
.star:nth-child(5) {
  --star-tail-length: 5.34em;
  --top-offset: 22.86vh;
  --fall-duration: 8.75s;
  --fall-delay: 3.389s;
}
.star:nth-child(6) {
  --star-tail-length: 6.2em;
  --top-offset: 67.96vh;
  --fall-duration: 8.318s;
  --fall-delay: 4.828s;
}
.star:nth-child(7) {
  --star-tail-length: 6.13em;
  --top-offset: 98.14vh;
  --fall-duration: 8.819s;
  --fall-delay: 2.186s;
}
.star:nth-child(8) {
  --star-tail-length: 5.06em;
  --top-offset: 6.12vh;
  --fall-duration: 8.084s;
  --fall-delay: 3.799s;
}
.star:nth-child(9) {
  --star-tail-length: 7.3em;
  --top-offset: 99.62vh;
  --fall-duration: 11.854s;
  --fall-delay: 5.583s;
}
.star:nth-child(10) {
  --star-tail-length: 6.61em;
  --top-offset: 26.59vh;
  --fall-duration: 10.563s;
  --fall-delay: 8.174s;
}
.star:nth-child(11) {
  --star-tail-length: 7.17em;
  --top-offset: 98.75vh;
  --fall-duration: 6.465s;
  --fall-delay: 3.962s;
}
.star:nth-child(12) {
  --star-tail-length: 6.93em;
  --top-offset: 92.79vh;
  --fall-duration: 10.436s;
  --fall-delay: 2.905s;
}
.star:nth-child(13) {
  --star-tail-length: 6.15em;
  --top-offset: 83.49vh;
  --fall-duration: 8.632s;
  --fall-delay: 0.509s;
}
.star:nth-child(14) {
  --star-tail-length: 6.95em;
  --top-offset: 85.51vh;
  --fall-duration: 11.332s;
  --fall-delay: 6.43s;
}
.star:nth-child(15) {
  --star-tail-length: 7.38em;
  --top-offset: 14.59vh;
  --fall-duration: 9.481s;
  --fall-delay: 0.937s;
}
.star:nth-child(16) {
  --star-tail-length: 6.89em;
  --top-offset: 77.32vh;
  --fall-duration: 9.654s;
  --fall-delay: 6.762s;
}
.star:nth-child(17) {
  --star-tail-length: 5.7em;
  --top-offset: 86.81vh;
  --fall-duration: 6.417s;
  --fall-delay: 4.531s;
}
.star:nth-child(18) {
  --star-tail-length: 7.47em;
  --top-offset: 13.83vh;
  --fall-duration: 9.314s;
  --fall-delay: 7.248s;
}
.star:nth-child(19) {
  --star-tail-length: 6.81em;
  --top-offset: 94.08vh;
  --fall-duration: 9.331s;
  --fall-delay: 6.934s;
}
.star:nth-child(20) {
  --star-tail-length: 5.19em;
  --top-offset: 63.36vh;
  --fall-duration: 11.986s;
  --fall-delay: 8.758s;
}
.star:nth-child(21) {
  --star-tail-length: 7.09em;
  --top-offset: 51.98vh;
  --fall-duration: 6.527s;
  --fall-delay: 3.818s;
}
.star:nth-child(22) {
  --star-tail-length: 5.16em;
  --top-offset: 50.33vh;
  --fall-duration: 6.185s;
  --fall-delay: 4.879s;
}
.star:nth-child(23) {
  --star-tail-length: 5.64em;
  --top-offset: 51.5vh;
  --fall-duration: 10.711s;
  --fall-delay: 6.857s;
}
.star:nth-child(24) {
  --star-tail-length: 5.91em;
  --top-offset: 41.74vh;
  --fall-duration: 8.32s;
  --fall-delay: 0.136s;
}
.star:nth-child(25) {
  --star-tail-length: 5.17em;
  --top-offset: 42.08vh;
  --fall-duration: 7.578s;
  --fall-delay: 6.035s;
}
.star:nth-child(26) {
  --star-tail-length: 7.42em;
  --top-offset: 52.85vh;
  --fall-duration: 10.241s;
  --fall-delay: 3.028s;
}
.star:nth-child(27) {
  --star-tail-length: 7.38em;
  --top-offset: 62.57vh;
  --fall-duration: 8.729s;
  --fall-delay: 0.519s;
}
.star:nth-child(28) {
  --star-tail-length: 5.71em;
  --top-offset: 43.76vh;
  --fall-duration: 9.052s;
  --fall-delay: 3.771s;
}
.star:nth-child(29) {
  --star-tail-length: 6.53em;
  --top-offset: 90.34vh;
  --fall-duration: 8.564s;
  --fall-delay: 6.243s;
}
.star:nth-child(30) {
  --star-tail-length: 5.99em;
  --top-offset: 53.64vh;
  --fall-duration: 7.379s;
  --fall-delay: 1.969s;
}
.star:nth-child(31) {
  --star-tail-length: 6.12em;
  --top-offset: 97.23vh;
  --fall-duration: 7.455s;
  --fall-delay: 9.629s;
}
.star:nth-child(32) {
  --star-tail-length: 6.34em;
  --top-offset: 37.36vh;
  --fall-duration: 11.127s;
  --fall-delay: 5.512s;
}
.star:nth-child(33) {
  --star-tail-length: 6.76em;
  --top-offset: 35.83vh;
  --fall-duration: 7.708s;
  --fall-delay: 1.173s;
}
.star:nth-child(34) {
  --star-tail-length: 6.3em;
  --top-offset: 2.83vh;
  --fall-duration: 10.678s;
  --fall-delay: 5.128s;
}
.star:nth-child(35) {
  --star-tail-length: 5em;
  --top-offset: 5.26vh;
  --fall-duration: 10.61s;
  --fall-delay: 4.581s;
}
.star:nth-child(36) {
  --star-tail-length: 6em;
  --top-offset: 39.26vh;
  --fall-duration: 10.064s;
  --fall-delay: 1.443s;
}
.star:nth-child(37) {
  --star-tail-length: 6.56em;
  --top-offset: 69.25vh;
  --fall-duration: 7.557s;
  --fall-delay: 7.162s;
}
.star:nth-child(38) {
  --star-tail-length: 5.29em;
  --top-offset: 94.35vh;
  --fall-duration: 8.727s;
  --fall-delay: 2.259s;
}
.star:nth-child(39) {
  --star-tail-length: 5.19em;
  --top-offset: 37vh;
  --fall-duration: 6.594s;
  --fall-delay: 7.759s;
}
.star:nth-child(40) {
  --star-tail-length: 5.87em;
  --top-offset: 36.14vh;
  --fall-duration: 10.295s;
  --fall-delay: 3.014s;
}
.star:nth-child(41) {
  --star-tail-length: 7.24em;
  --top-offset: 91.31vh;
  --fall-duration: 11.217s;
  --fall-delay: 5.942s;
}
.star:nth-child(42) {
  --star-tail-length: 7.36em;
  --top-offset: 55.45vh;
  --fall-duration: 8.642s;
  --fall-delay: 2.632s;
}
.star:nth-child(43) {
  --star-tail-length: 5.65em;
  --top-offset: 76.98vh;
  --fall-duration: 6.325s;
  --fall-delay: 5.368s;
}
.star:nth-child(44) {
  --star-tail-length: 6.56em;
  --top-offset: 30.65vh;
  --fall-duration: 9.908s;
  --fall-delay: 0.391s;
}
.star:nth-child(45) {
  --star-tail-length: 6.79em;
  --top-offset: 29.86vh;
  --fall-duration: 8.863s;
  --fall-delay: 9.047s;
}
.star:nth-child(46) {
  --star-tail-length: 6.25em;
  --top-offset: 63.83vh;
  --fall-duration: 8.151s;
  --fall-delay: 1.609s;
}
.star:nth-child(47) {
  --star-tail-length: 6.26em;
  --top-offset: 3.95vh;
  --fall-duration: 7.121s;
  --fall-delay: 0.939s;
}
.star:nth-child(48) {
  --star-tail-length: 6.53em;
  --top-offset: 9.21vh;
  --fall-duration: 8.069s;
  --fall-delay: 7.064s;
}
.star:nth-child(49) {
  --star-tail-length: 6.05em;
  --top-offset: 17.15vh;
  --fall-duration: 8.787s;
  --fall-delay: 8.115s;
}
.star:nth-child(50) {
  --star-tail-length: 7.32em;
  --top-offset: 54.04vh;
  --fall-duration: 11.86s;
  --fall-delay: 7.576s;
}
.star::before,
.star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@media (max-width: 768px) {
  .contact img {
    margin-bottom: 30px;
    width: 100%;
  }
}
